@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 8px;
  border-radius: 20px;
}

/* The scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 50px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* The scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* The scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00ff00;
}
